<div class="col-xs-4">
  <img width="400px" height="500px" src={{tomster.image}} alt={{tomster.title}} />
  <h3>{{tomster.title}}</h3>
  <p>
    {{tomster.description}}
  </p>
  <hr>
  {{#if notIndex}}
  <button class="btn btn-danger" {{action 'deleteTomster' tomster}}>Delete "{{tomster.title}}"??</button>
  {{/if}}
</div>
